<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>LOGIN</title>
    <div th:replace="~{/fragments/head :: head}"></div>
  </head>

  <nav th:replace= "~{/fragments/navbar :: nav}"></nav>

  <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Egg News Home!</h1>
                    <p class="lead mb-0">By DIEGO ROMERO</p>
                </div>
            </div>
        </header>
  <body>
    <h3 class="text-center my-5">LOGIN</h3>

    <div class="container text-center">
      <form class="form" action="/logincheck" method="post">
        <div class="form-floating mb-3">
          <input
            type="email"
            name="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            th:value="${email}"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div
          th:if="${error != null}"
          class="card text-white bg-danger mb-3 errorMessage"
        >
          <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text" th:text="${error}"></p>
          </div>
        </div>
        <div
          th:if="${success != null}"
          class="card text-white bg-danger mb-3 successMessage"
        >
          <div class="card-body">
            <h5 class="card-title">Success</h5>
            <p class="card-text" th:text="${success}"></p>
          </div>
        </div>
        </form>
    </div>
  </body>
  <div th:replace= "~{/fragments/footer :: footer}"></div>
  <div th:replace= "~{/fragments/scripts :: scripts}"></div>
</html>
